{% extends 'base\layout.html' %}

{% block content %}
<div class="container">
    <form action="" method="POST">
        {% csrf_token %}
        {{form}}
       <!-- <input type="submit" class="btn btn-warning" value="Search">-->
        <button type="submit" class="btn btn-warning">search</button>
    </form>
</div>
    {% if book %}
        <div class="container">
            <table class="table">
                <thead class="thread-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Book_Name</th>
                        <th scope="col">Book_Author</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bk in book %}
                        <tr>
                            <th scope="row">{{bk.id}}</th>
                            <td>{{bk.name}}</td>
                            <td>{{bk.book_author}}</td>
                            <td>
                                <a href="/editbook/{{bk.id}}">
                                    <span class='text-muted'>Edit</span>
                                </a>
                                <a href="/deletebook/{{bk.id}}">
                                    <span class="text-danger">Delete</span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}    
{% endblock %}